# Compiled Object files
*.slo
*.lo
*.o
# batocera
*.mo

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Dependency makefiles
*.d

# Compiled executable
emulationstation

# build directory
build
Debug
Release
MinSizeRel
RelWithDebInfo
bin
win32-libs

# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile

# Eclipse
.cproject
.project
.settings/

# Clion
.idea/
CPackConfig.cmake
CPackSourceConfig.cmake

# VS Code
/.vscode
*.code-workspace
/.vs/

# batocera
# po backup
*.po~
*.sqlite
.DS_Store